body {
  background: linear-gradient(135deg, #ffd8de 0%, #fddae3 100%) !important;
}

.bg-primary.bg-gradient {
  background: linear-gradient(135deg, #fc7eaa 0%, #ff74a9 30%, #ff74a9 100%) !important;
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
}

.nav-pills .nav-link {
  background: linear-gradient(135deg, #9f1d3d 0%, #460d1b 100%) !important;
  color: white !important;
  border: 2px solid #6e162c !important;
}

.nav-pills .nav-link.active {
  background: linear-gradient(135deg, #460d1b 0%, #9f1d3d  100%) !important;
  color: white !important;
  border-color: #6e162c !important;
}

.tab-pane h2 {
  color: #6e162c !important;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1) !important;
}

.card {
  border: 2px solid #fc7eaa !important;
  color: #6e162c!important;
  transition: all 0.3s ease !important;
}

.card:hover {
  transform: translateY(-8px) !important;
  box-shadow: 0 12px 30px rgba(212, 65, 124, 0.3) !important;
  border-color: #fa79a0 !important;
}

footer.bg-dark {
  background: linear-gradient(135deg, #372621 0%, #442a24 100%) !important;
}