body {
  background: linear-gradient(135deg, #ffd8de 0%, #fddae3 100%) !important;
}

.bg-primary.bg-gradient {
  background: linear-gradient(135deg, #fc7eaa 0%, #ff74a9 30%, #ff74a9 100%) !important;
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
}

.nav-pills .nav-link {
  background: linear-gradient(135deg, #9f1d3d 0%, #460d1b 100%) !important;
  color: white !important;
  border: 2px solid #6e162c !important;
}

.nav-pills .nav-link.active {
  background: linear-gradient(135deg, #460d1b 0%, #9f1d3d  100%) !important;
  color: white !important;
  border-color: #6e162c !important;
}

.tab-pane h2 {
  color: #6e162c !important;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1) !important;
}

.card {
  border: 2px solid #fc7eaa !important;
  color: #6e162c!important;
  transition: all 0.3s ease !important;
}

.card:hover {
  transform: translateY(-8px) !important;
  box-shadow: 0 12px 30px rgba(212, 65, 124, 0.3) !important;
  border-color: #fa79a0 !important;
}

.modal-dialog {
  display: flex;
  align-items: center;
  min-height: calc(100% - 3.5rem);
}

.modal-header.bg-primary {
  background: linear-gradient(135deg, #fc7eaa 0%, #ff74a9 100%) !important;
  color: #4f0a24 !important;
  text-shadow: 1px 1px 2px rgb(254, 189, 189) !important;
}

.btn-primary {
  background: linear-gradient(135deg, #fc7eaa 0%, #ff74a9 100%) !important;
  border: none !important;
  font-weight: 600 !important;
}

.btn-primary:hover {
  background: linear-gradient(135deg, #ff74a9 0%, #b8366a 100%) !important;
  transform: translateY(-2px) !important;
  box-shadow: 0 6px 20px rgba(212, 65, 124, 0.4) !important;
}

.btn-secondary {
  background: linear-gradient(135deg, #671330 0%, #4f0a24 100%) !important;
  border: none !important;
  font-weight: 600 !important;
}

.alert-info {
  background: linear-gradient(135deg, #ffc0cb 0%, #efc3ca 100%) !important;
  border-color: #ffb6c1 !important;
  color: #a34a1a  !important;
}

.alert-success {
  background: linear-gradient(135deg, #ffc0cb 0%, #efc3ca 100%) !important;
  border-color: #ff74a9 !important;
  color: #4f0a24 !important;
}

.form-control:focus {
  border-color: #fc7eaa !important;
  box-shadow: 0 0 0 0.25rem rgba(236, 72, 153, 0.25) !important;
}
label, input::placeholder {
  
  color: #661131 !important;
}

.modal-body svg rect,
.modal-body svg polygon,
.modal-body svg circle,
.modal-body svg ellipse,
.modal-body svg line {
  fill: #fba4c2 !important;
  stroke: #940c40 !important;
}
.modal-body svg text {
  fill: #940c40 !important;
  stroke: #940c40 !important;
}
footer.bg-dark {
  background: linear-gradient(135deg, #372621 0%, #442a24 100%) !important;
}